icon.mji {
    --scale: 1;

    width: calc(var(--scale) * 40px);
    height: calc(var(--scale) * 40px);
    background-size: calc(var(--scale) * 200px) calc(var(--scale) * 280px);
    display: inline-block;
    vertical-align: bottom;
    background-image: url("./mjicraftdemandresearch_hr1.png");
}

icon.mji-box {
    background-position: calc(var(--scale) * -0px) calc(var(--scale) * -0px);
}
icon.mji-popular-3 {
    background-position: calc(var(--scale) * -40px) calc(var(--scale) * -0px);
}
icon.mji-popular-2 {
    background-position: calc(var(--scale) * -80px) calc(var(--scale) * -0px);
}
icon.mji-popular-1 {
    background-position: calc(var(--scale) * -120px) calc(var(--scale) * -0px);
}
icon.mji-popular-4 {
    background-position: calc(var(--scale) * -160px) calc(var(--scale) * -0px);
}
icon.mji-change-2-up {
    background-position: calc(var(--scale) * -0px) calc(var(--scale) * -40px);
}
icon.mji-change-1-up {
    background-position: calc(var(--scale) * -40px) calc(var(--scale) * -40px);
}
icon.mji-change-0 {
    background-position: calc(var(--scale) * -80px) calc(var(--scale) * -40px);
}
icon.mji-change-1-down {
    background-position: calc(var(--scale) * -120px) calc(var(--scale) * -40px);
}
icon.mji-change-2-down {
    background-position: calc(var(--scale) * -160px) calc(var(--scale) * -40px);
}
icon.mji-no-box {
    background-position: calc(var(--scale) * -0px) calc(var(--scale) * -240px);
}
icon.mji-clock {
    background-position: calc(var(--scale) * -40px) calc(var(--scale) * -240px);
}
icon.mji-nekomimi {
    background-position: calc(var(--scale) * -80px) calc(var(--scale) * -240px);
}
icon.mji-nekomimi-next {
    background-position: calc(var(--scale) * -120px) calc(var(--scale) * -240px);
}
icon.mji-true {
    background-position: calc(var(--scale) * -0px) calc(var(--scale) * -120px);
}
icon.mji-false {
    background-position: calc(var(--scale) * -160px) calc(var(--scale) * -80px);
}
icon.blue-coin {
    --scale: 1;
    width: calc(var(--scale) * 36px);
    height: calc(var(--scale) * 36px);
    background-size: calc(var(--scale) * 36px) calc(var(--scale) * 36px);
    display: inline-block;
    vertical-align: bottom;
    background-image: url("./065096.png");
}

button.sched {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    vertical-align: middle;
}
button.sched:disabled {
    filter: grayscale(0.8);
    cursor: default;
}

icon.sched,
button.sched {
    --scale: 1;
    background-size: calc(var(--scale) * 480px) calc(var(--scale) * 232px);
    background-image: url("./mjicraftschedule_hr1.png");
}
.sched.sched-check,
.sched.sched-set-rest,
.sched.sched-demand,
.sched.sched-delete {
    width: calc(var(--scale) * 96px);
    height: calc(var(--scale) * 96px);
}

.sched.sched-red,
.sched.sched-green,
.sched.sched-yellow {
    width: calc(var(--scale) * 64px);
    height: calc(var(--scale) * 64px);
}
.sched.sched-check {
    background-position: calc(var(--scale) * -0px) calc(var(--scale) * -0px);
}
.sched.sched-set-rest {
    background-position: calc(var(--scale) * -96px) calc(var(--scale) * -0px);
}
.sched.sched-demand {
    background-position: calc(var(--scale) * -192px) calc(var(--scale) * -0px);
}
.sched.sched-delete {
    background-position: calc(var(--scale) * -288px) calc(var(--scale) * -0px);
}
.sched.sched-red {
    background-position: calc(var(--scale) * -132px) calc(var(--scale) * -96px);
}
.sched.sched-green {
    background-position: calc(var(--scale) * -196px) calc(var(--scale) * -96px);
}
.sched.sched-yellow {
    background-position: calc(var(--scale) * -260px) calc(var(--scale) * -96px);
}

.sched.sched-rest {
    width: calc(var(--scale) * 46px);
    height: calc(var(--scale) * 46px);
    background-position: calc(var(--scale) * -150px) calc(var(--scale) * -160px);
}
.sched.sched-add {
    width: calc(var(--scale) * 46px);
    height: calc(var(--scale) * 46px);
    background-position: calc(var(--scale) * 0px) calc(var(--scale) * -96px);
}
