icon.mji {
    --scale: 1;

    width: calc(var(--scale) * 40px);
    height: calc(var(--scale) * 40px);
    background-size: calc(var(--scale) * 200px) calc(var(--scale) * 240px);
    display: inline-block;
    vertical-align: bottom;
    background-image: url("./mjicraftdemandresearch_hr1.png");
}

icon.mji-box {
    background-position: calc(var(--scale) * -0px) calc(var(--scale) * -0px);
}
icon.mji-popular-3 {
    background-position: calc(var(--scale) * -40px) calc(var(--scale) * -0px);
}
icon.mji-popular-2 {
    background-position: calc(var(--scale) * -80px) calc(var(--scale) * -0px);
}
icon.mji-popular-1 {
    background-position: calc(var(--scale) * -120px) calc(var(--scale) * -0px);
}
icon.mji-popular-4 {
    background-position: calc(var(--scale) * -160px) calc(var(--scale) * -0px);
}
icon.blue-coin {
    --scale: 1;
    width: calc(var(--scale) * 36px);
    height: calc(var(--scale) * 36px);
    background-size: calc(var(--scale) * 36px) calc(var(--scale) * 36px);
    display: inline-block;
    vertical-align: bottom;
    background-image: url("./065096.png");
}

button.sched {
    background: transparent;
    background-image: url("./mjicraftschedule_hr1.png");
    border: none;
    color: white;

    --scale: 1;

    width: calc(var(--scale) * 64px);
    height: calc(var(--scale) * 64px);
    background-size: calc(var(--scale) * 384px) calc(var(--scale) * 232px);
    cursor: pointer;
}
button.sched-red {
    background-position: calc(var(--scale) * -132px) calc(var(--scale) * -96px);
}
button.sched-green {
    background-position: calc(var(--scale) * -196px) calc(var(--scale) * -96px);
}
button.sched-yellow {
    background-position: calc(var(--scale) * -260px) calc(var(--scale) * -96px);
}