.mji-wooden-plate {
  border: 24px solid rgba(0, 0, 0, 0);
  border-image: url("@/assets/mji_bg.png") 64 64 repeat;
  border-image-width: 48px;
  background: url("@/assets/mji_bghv.png") repeat;
  background-clip: content-box;
}

.mji-info-box {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 4px;
  border: 1px #deceb5 solid;
}

.mji-step-box {
  background: rgb(214,211,206);
  border-radius: 5px;
  border: 1px solid rgba(131, 85, 0, 0.5);
  box-sizing: border-box;
}

.mji-title,
.mji-hr {
  border-bottom: 2px rgb(156,134,115) solid;
}
.mji-hr {
  height: 5px;
}

.mji-title {
  line-height: 1.5em;
  margin-bottom: 3px;
}
.mji-footer {
  margin-top: 6px;
  border-top: 2px rgb(156,134,115) solid;
  padding-top: 8px;
  width: 100%;
}

.mji-text-brown {
  color: rgb(82,49,33);
  font-weight: 500;
}
.mji-text-orange {
  color: rgb(170, 94, 58);
  font-weight: 500;
}

.mji-text-small {
  font-size: 0.85em;
}

button.mji {
  background: linear-gradient(rgb(140,109,90), rgb(107,81,66) 49%, rgb(99,73,49) 50%, rgb(82,61,41) 51%, rgb(107,85,58));
  border: 1px solid rgba(99,81,58, 0.5);
  color: #f0f0f0;
  font-size: 14px;
  font-weight: 400;
  border-radius: 25px;
  padding: 2px 3em 4px;
  cursor: pointer;
}

button.mji:hover {
  filter: brightness(1.1);
}
